body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

label, select, input[type="number"], input[type="button"] {
    display: block;
    margin: 10px 0;
}

input[type="number"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="button"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

p {
    font-weight: bold;
    margin: 20px 0;
}

@media (max-width: 600px) {
    form {
        padding: 10px;
    }

    input[type="button"] {
        padding: 5px 10px;
    }
}